*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--m-font);
  font-size: 15px;
  line-height: 1.2;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: 0 auto;
}
:root {
  --dark-grey: hsl(0, 0%, 55%);
  --very-dark-grey: hsl(0, 0%, 41%);
  --m-font: "Alata", sans-serif;
  --s-font: "Josefin Sans", sans-serif;
  --fw300: 300;
  --fw400: 400;
}

.container {
  padding: 2rem 1rem;
  max-width: 1440px;
  margin: 0 auto;
}
/* Header */

.header {
  background-image: url("/images/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__list {
  display: flex;
  visibility: hidden;
}
.header-nav__link {
  display: block;
  color: white;
  padding: 0 0.6rem;
}
.header__tittle {
  color: white;
  font-size: 3rem;
  font-family: var(--s-font);
  font-weight: var(--fw300);
  border: 2px solid white;
  padding: 1.5rem 1.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* About */
.about__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__img {
  margin-top: 3rem;
}
.about-content {
  padding: 3rem 1.5rem;
  text-align: center;
  max-width: 30rem;
}
.heading-secondary {
  font-family: var(--s-font);
  font-size: 1.7rem;
  text-transform: uppercase;
  color: black;
  opacity: 0.9;
  text-align: center;
}
.about-content__text {
  color: var(--dark-grey);
}
/* - - - Section - Our Creation - - - */

.grid-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.267),
    rgba(0, 0, 0, 0.514)
  );
}
.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.creation-gallery__grid {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 1.5rem;
  margin-bottom: 2rem;
}
.grid-item {
  position: relative;
  width: 100%;
}
.grid-item > img {
  width: 100%;
  object-fit: cover;
}

.heading-tertionaly {
  position: absolute;
  color: white;
  font-size: calc(0.9rem + 0.5vw);
  font-family: var(--s-font);
  text-transform: uppercase;
  font-weight: var(--fw300);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  display: flex;
  justify-content: center;
  visibility: visible;
}
.button-desktop {
  display: none;
}
.btn {
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  transition: background-color 0.5s ease;
}
.btn-dark:hover {
  background-color: black;
  color: white;
}
/* - - - Footer - - - */

.footer {
  background-color: black;
  color: white;
  height: 80vh;
}
.footer__container--flex {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.footer__logo {
  width: 50%;
  margin-top: 1rem;
}

.footer-nav__list {
  display: block;
  padding: 1rem 0;
  text-align: center;
}
.footer-nav__link {
  display: block;
  padding: 0.7rem 0;
}
.footer-social__list {
  display: flex;
  padding-top: 2rem;
}
.footer-social__link {
  padding: 0 1rem;
}
.copyright {
  font-family: var(--m-font);
  font-weight: var(--fw400);
  margin-top: 2rem;
  color: var(--dark-grey);
}
.attribution {
  text-align: center;
  margin-top: 2rem;
}
